* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.form-container,
.table-container {
  width: 80vw;
  border: 2px solid rgb(28, 154, 204);
  border-radius: 8px;
  display: flex;
  margin: 2rem 0rem;
  flex-direction: column;
}
.header-bar {
  color: white;
  background-color: rgb(28, 154, 204);
  padding: 6px;
}
.input-box,
.input-radiobox,
.input-checkbox {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.input-box input {
  padding: 5px;
  border: none;
  border: 1px solid rgba(85, 80, 80, 0.597);
  border-radius: 4px;
  outline: none;
}
.input-text {
  font-weight: 600;
}
.btn-box {
  margin: 1rem 8rem;
}
.submit-btn,
.update-btn,
.reset-btn,
.edit-btn,
.delete-btn {
  width: fit-content;
  padding: 8px 14px;
  font-size: 1rem;
  color: white;
  background-color: rgb(28, 154, 204);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.delete-btn,
.edit-btn {
  padding: 4px 8px;
  font-size: 12px;
  margin: 0 2px;
}
.delete-btn {
  background-color: rgb(189, 46, 46);
}
table {
  margin: 1rem;
}
table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
}
.error {
  color: red;
  height: 10px;
}
input[disabled],
button[disabled] {
  cursor: not-allowed;
  filter: grayscale(100);
}
.reset {
  background-color: rgb(189, 46, 46);
  display: none;
}
.update-btn {
  display: none;
}
.input-error {
  border: 1px solid rgb(189, 46, 46) !important;
}
.input-option {
  cursor: pointer;
}

.inverted-table,
.inverted-table tr {
  border: none;
  padding: 0;
}
.inverted-table {
  border: 1px solid black;
  overflow: auto;
}
.inverted-table {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.inverted-table th,
.inverted-table td {
  display: flex;
  height: 3rem;
  vertical-align: bottom;
}
.inverted-table thead {
  display: grid;
  position: sticky;
  width: 10vw;
  left: 0;
  background-color: white;
  border-right: 1px solid black
}
.inverted-table tbody {
  display: grid;
  grid-template-columns: repeat(7, 20vw);
}
